@import "../../assets/sass/globals";



.settings-option {
  width: 100%;
  @include flex;
  margin-bottom: 15px;
  .label {
    margin-left: 20px;
    font-size: 18px;
    width: 100px;
  }
  input {
   @include settingsInput;
  }
}