@import "../../assets/sass/globals";

.settings-container {
  .settings-box {
    width: 900px;
    max-width: 95%;
    padding: 30px 25px;
    background-color: $lightBlue;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .logoUpload {
    @include flex;
    margin-bottom: 15px;
    .label {
      margin-left: 20px;
      font-size: 18px;
      width: 100px;
      display: inline-block;
    }
    label {
      margin-left: auto;
      position: relative;
      svg {
        position: absolute;
        color: $white;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
      div {
        display: inline;
        padding: 2px 50px 2px 30px;
        border-radius: 8px;
        background-color: $black;
        color: $white;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          background-color: $darkGray;
        }
      }
    }
    input {
      display: none;
      
    }
    .current-image {
      @include flex;
      .remove-image {
        @include roundedBtn;
        background-color: $red;
      }
      p {
        display: inline-block;
        margin-right: 50px;
        margin-left: 20px;
      }
    }
    .logo-icon {
      height: 50px;
    }
  }
  .save-btn {
    @include roundedBtn;
    width: unset;
    height: unset;
    padding: 0px 30px;

    margin: 40px auto 0;
  }
}
